@font-face {
  font-family: boldFont;
  src: url(big_john.otf);
}

@font-face {
  font-family: slimFont;
  src: url(slim_joe.otf);
}

body {
	background-color: #141618;
	overflow-x: hidden;
	font-family: Raleway;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main-content {
	/*background-image: radial-gradient(#f67e7d 20%, transparent 20%);
	background-position: 50px 50px;
	background-size: 4px 4px;*/
}

.sidebar {
	position: fixed;
	z-index: 1;
}

.sidebar .logo {
	width: 80%;
	padding-top: 30px;
}

.sidebar h5 {
	font-family: boldFont;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	color: black;
}

.sidebar .hamburger {
	width: 50%;
	transform: rotate(180deg);
}

.sidebar .hamburger:hover {
	opacity: 0.7;
	cursor: pointer;
}

ul.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100vh;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  background-color: #FFF9E3;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  background-color: white;
}

ul.space-between { 
  -webkit-align-content: space-between; 
  align-content: space-between; 
}  

ul.space-between .flex-item {
  width: 100%;
  color: black;
  display: flex;
  justify-content: center;
}

ul.space-between .flex-item h5 {
  font-family: boldFont;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: black;
}

.full-menu {
	position: fixed;
	width: 100%;
	z-index: 100;
	margin-left: 1%;"
}

.vertical-menu {
	height: 100vh;
	background-color: #FFF9E3;
	padding-left: 10px;
}

.vertical-menu a {
	font-size: 20px;
	color: black;
	text-align: center;
	font-weight: bolder;
	font-family: slimFont;
}

.vertical-menu a:hover {
	opacity: 0.7;
}

.menu-item {
	width: 95%;
	display: flex;
	padding: 10px;
}

.close {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 0px;
	width: 100%;
}

.menu-category {
	color: gray;
	padding-top: 10px;
	padding-left: 5px;
}

.center-element {
	display: flex;
	justify-content: center;
}

.nav {
	padding: 20px;
}

.nav a:hover {
	text-decoration: none;
}

.nav a {
	color: #d8d8d8;
	font-weight: 600;
	border-top: 1px solid white;
}

.vertical-menu .margin {
	margin-left: 5px;
}

.nav p {
	color: gray;
	font-weight: 200;
}

.additional-nav {
	width: 100%;
	display: flex;
	justify-content: center;
}

.nav-item {
	padding: 20px;
}

button.menu {
	margin-top: 17px;
	width: 80%;
	font-weight: bolder;
	border-radius: 0px;
	font-family: boldFont;
	margin-left: 10%;
}

.hero {
	height: 80vh;
	display: flex;
	align-items: center;
}

.hero h1 {
	font-family: boldFont;
	color: #FFF9E3;
	font-size: 6.5rem;
}

.portion {
	height: 90vh;
	width: 95%;
	margin-left: 2.5%;
}

.portion .titles p {
	color: gray;
}

.portion .titles h1 {
	color: white;
	font-family: boldFont;
}

.portion .description {
	display: flex;
	align-items: flex-end;
	height: 80vh;
}

.portion .description h2 {
	font-weight: bolder;
	color: #ffb997;
}

.portion .description p {
	color: #d8d8d8;
	font-size: 20px;
	font-weight: 100;
	color: white;
}

.portion .col-5 {
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.side-image {
	background-image: url(website.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.numbers .number1 {
	background-color: #ffb997;
	border-radius: 10px;
}

.numbers .number2 {
	background-color: #f67e7d;
	border-radius: 10px;
}

.numbers .number3 {
	background-color: #843b62;
	border-radius: 10px;
}

.visibility-hidden {
	visibility: hidden;
}
